@import "../../../../mixins/variables";
@import "../../../../mixins/transitions";

.directory {
  width: 214px;

  // Header
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.0625rem;

    .directory__title {
      font-size: 0.8625rem;
    }

    .three-dots {
      cursor: pointer;
    }
  }

  //   Button
  &__btn {
    background: $whiteColor;
    border: none;
    width: 100%;
    padding: 0.3rem;
    color: $skyBlue;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
  }
}
