@import "../../../mixins/variables";
@import "../../../mixins/transitions";

.user__item {
  margin-bottom: 1.25rem;
}

.user__link {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0.3125rem;
  color: $whiteColor;
  vertical-align: middle;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  font-size: 6px;
  @include transition(all 0.3s ease);

  &:hover {
    padding: 1rem;
    font-size: 0.7rem;
  }

  &.skyBlue {
    background: $skyBlue;
    border-color: $skyBlue;
  }
  &.green {
    background: $green;
    border-color: $green;
  }
  &.navyBlue {
    background: $navyBlue;
    border-color: $navyBlue;
  }
  &.redOrange {
    background: $redOrange;
    border-color: $redOrange;
  }
  &.blue {
    background: $blue;
    border-color: $blue;
  }
}
