@import "../../../../mixins/variables";
@import "../../../../mixins/transitions";

.module-card {
  background: #ffffff;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  min-height: 75px;
  position: relative;

  p {
    font-size: 0.8rem;
    color: #03293d;
    width: 160px;
    line-height: 145.1%;
    margin-bottom: 1rem;
    font-family: $font;
  }

  &__three-dots {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
  }

  &__footer {
    width: 214px;
    display: flex;
    position: absolute;
    bottom: 0.5rem;

    &__date {
      display: flex;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;

        path {
          fill: rgba(3, 41, 61, 0.5);
        }
      }

      p {
        margin: 0;
        margin-left: 0.4rem;
        color: rgba(3, 41, 61, 0.5);
        font-weight: 600;
        font-size: 0.8rem;
        margin-top: 0.1rem;
      }
    }

    &__users {
      display: flex;
      width: 100%;
      margin-left: -3rem;
      margin-right: 1rem;

      img {
        width: 16px;
        max-width: 100%;
        height: auto;
        overflow: hidden;
      }
    }
  }
}
