$whiteColor: #fff;
$sidebarBgColor: #052231;
$headerBgColor: #fbfbfb;
$skyBlue: #23b3e8;
$green: linear-gradient(0deg, #4dbd98, #4dbd98),
  linear-gradient(0deg, #4dbd98, #4dbd98),
  linear-gradient(0deg, #4dbd98, #4dbd98), #4dbd98;
$navyBlue: #3d43a2;
$redOrange: #f15832;
$blue: #004f71;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$font: "Nunito Sans", sans-serif;
